*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rowS: 1fr;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    /*FONTS*/
    --script: "Edu SA Beginner", cursive;
    --sans: "Open Sans", sans-serif;
    --vibes: "Great Vibes", cursive;
    --beanie: "Reenie Beanie", cursive;
    --gilbert: "gilbert", sans-serif;
    /*COLORS*/
    --pink: #F8ADC6;
    --orange: #F7AB76;
    --yellow: #F4B866;
    --green: #D3B023;
    --blue: #ADDCE3;
    --purple: #C4B7DD;
    --pinkrgb: 248, 173, 198;
    --orangergb: 247, 171, 118;
    --yellowrgb: 244, 184, 102;
    --greenrgb: 211, 176, 35;
    --bluergb: 173, 220, 227;
    --purplergb: 196, 183, 221;
    --pearl: #DBD5B5;
    --pearlrgb: 219, 213, 181;
    --clear: rgba(0,0,0,0);
    /*GRADIENTS*/
    --rainbow: linear-gradient(to top right, hsla(340, 84%, 83%, 1) 0%, hsla(25, 89%, 72%, 1) 20%, hsla(35, 87%, 68%, 1) 40%, hsla(48, 72%, 48%, 1) 60%, hsla(188, 49%, 78%, 1) 80%, hsla(261, 36%, 79%, 1) 100%);
    --rainbow2: linear-gradient(to bottom, hsla(340, 84%, 83%, 1) 0%, hsla(25, 89%, 72%, 1) 20%, hsla(35, 87%, 68%, 1) 40%, hsla(48, 72%, 48%, 1) 60%, hsla(188, 49%, 78%, 1) 80%, hsla(261, 36%, 79%, 1) 100%);
    /*IMAGES*/
    --texture: url("https://img.freepik.com/premium-vector/grunge-old-vintage-vector-illustration-texture-background_1624-70.jpg");
    /*OTHER*/
  }
  body a {
    text-decoration: none;
  }
  
  .pride-postcard {
    width: 400px;
    height: 650px;
    overflow: hidden;
  }
  .pride-postcard .postcard-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .pride-postcard .postcard-inner .rainbow, .pride-postcard .postcard-inner .backside {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .pride-postcard .postcard-inner .rainbow {
    z-index: 10;
  }
  .pride-postcard .postcard-inner .rainbow .front-text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 22;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .pride-postcard .postcard-inner .rainbow .front-text x {
    font: 5rem var(--gilbert);
    text-transform: uppercase;
    color: vaR(--clear);
    background: var(--rainbow2);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
  }
  .pride-postcard .postcard-inner .rainbow .front-text x:nth-of-type(2) {
    margin-top: -2.5rem;
  }
  .pride-postcard .postcard-inner .rainbow .front-text span {
    margin-top: -0.5rem;
    position: relative;
    z-index: 30;
    font: 3.5rem var(--beanie);
    position: absolute;
  }
  .pride-postcard .postcard-inner .rainbow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--texture);
    background-size: cover;
    z-index: 11;
    opacity: 0.2;
  }
  .pride-postcard .postcard-inner .rainbow div:first-of-type {
    background: var(--pink);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -230px;
    left: -230px;
    z-index: 10;
  }
  .pride-postcard .postcard-inner .rainbow div:nth-of-type(2) {
    background: var(--orange);
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: -250px;
    left: -250px;
    z-index: 9;
  }
  .pride-postcard .postcard-inner .rainbow div:nth-of-type(3) {
    background: var(--yellow);
    border-radius: 50%;
    width: 700px;
    height: 700px;
    position: absolute;
    bottom: -270px;
    left: -270px;
    z-index: 8;
  }
  .pride-postcard .postcard-inner .rainbow div:nth-of-type(4) {
    background: var(--green);
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position: absolute;
    bottom: -290px;
    left: -290px;
    z-index: 7;
  }
  .pride-postcard .postcard-inner .rainbow div:nth-of-type(5) {
    background: var(--blue);
    border-radius: 50%;
    width: 900px;
    height: 900px;
    position: absolute;
    bottom: -310px;
    left: -310px;
    z-index: 6;
  }
  .pride-postcard .postcard-inner .rainbow div:nth-of-type(6) {
    background: var(--purple);
    border-radius: 50%;
    width: 1100px;
    height: 1100px;
    position: absolute;
    bottom: -330px;
    left: -330px;
    z-index: 5;
  }
  .pride-postcard .postcard-inner .backside {
    transform: rotateY(180deg);
    padding: 6.5rem 2rem 2rem;
    background: var(--texture), rgba(var(--pearlrgb), 0.5);
    background-blend-mode: color-burn;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 3.5rem;
  }
  .pride-postcard .postcard-inner .backside::after {
    content: "";
  }
  .pride-postcard .postcard-inner .backside .stamp {
    height: 97px;
    position: absolute;
    right: 3%;
    top: 2%;
  }

  .stamp_bottom {
    height: 97px;
    position: absolute;
    left: 3%;
    top: 83%;
  }

  .stamp_back {
    top: -10%;
    left: -10%;
    opacity: 7%;
    position:fixed;
    z-index: 400;
  }
 
  .pride-postcard .postcard-inner .backside .address line, .pride-postcard .postcard-inner .backside .message line {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0.5rem 0rem;
  }
  .pride-postcard .postcard-inner .backside .address line {
    font: 1.3rem var(--script);
  }
  .pride-postcard .postcard-inner .backside .address line b {
    text-transform: uppercase;
    font: 400 0.7rem var(--sans);
    letter-spacing: 2px;
    margin-right: 1rem;
    width: 3rem;
    display: inline-block;
  }
  .pride-postcard .postcard-inner .backside .message {
    font: 1.2rem var(--script);
    text-align: center;
  }
  .pride-postcard .postcard-inner .backside .signature {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
  }
  .pride-postcard .postcard-inner .backside .signature span:first-of-type {
    font-family: var(--vibes);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2.4rem;
    margin-left: -5.5rem;
    transform: rotate(-7deg);
    color: var(--clear);
    background: var(--rainbow2);
    -webkit-background-clip: text;
  }
  .pride-postcard .postcard-inner .backside .signature span:first-of-type x {
    font-family: var(--beanie);
    font-size: 5rem;
    margin-top: -1rem;
    letter-spacing: -4px;
  }
  .pride-postcard .postcard-inner .backside .signature span:nth-of-type(2) {
    font-family: var(--beanie);
    font-size: 1.8rem;
    margin-left: 5.5rem;
    margin-top: -2rem;
    transform: rotate(-5deg);
  }
  .pride-postcard:hover .postcard-inner {
    transform: rotateY(180deg);
  }
  
  .valido {
    font: 0.8rem var(--script);
    position: absolute;
    right: 1%;
    top: 97%

  }