body {
	background: #222;
  }
  
  .container{
	min-width: 320px;
	max-width: 700px;
	margin: 0 auto;
  }
  
  .heart {
	position: relative;
	left: 50%;
	top: 150px;
	width: auto;
	transform: translateX(-50%);
	display: inline-block;
	z-index: 2;
	&:hover {
	  cursor: pointer;
	}
	.shape-heart {
	  transition: fill .25s ease-in;
	}
	&.active {
	  .shape-heart {
		fill: #ff4040;
	  }
	}
  }
  svg {
	display: block;
	width: 50px;
	height: 50px;
  }
  
  .clickme {
	position: relative;
	left: 70%;
	@media screen and (min-width: 480px) {
	  left: 60%;
	}
	top: 130px;
	transform: scale(4);
	z-index: 1;
  }